//theme color declaration
$theme-primary: #0057fc;
$theme-secondary: #ffe815;
$theme-tertiary: #ff5b15;
$theme-dark: #0a0e1a;
$theme-light: #b1b4ba;
$theme-accent: #ffd06c;
$theme-accent-2: #fbf6ef;
$theme-accent-3: #001c52;
$theme-accent-4: #fff4ee;

//theme common color declaration
$common-dark: #000000;
$common-light: #ffffff;
$paragraph: #57595c;

//theme border color declaration
$theme-border: hsla(0, 0%, 100%, 0.2);

//custom color
$iceberg: #d6f0ff;
$sandyBeach: #ffe9c9;
$amour: #ffe4fb;
$whiteRock: #e2ead7;

//color root generator
$color: (
  "theme": (
    "primary": $theme-primary,
    "secondary": $theme-secondary,
    "tertiary": $theme-tertiary,
    "dark": $theme-dark,
    "light": $theme-light,
    "accent": $theme-accent,
    "accent-2": $theme-accent-2,
    "accent-3": $theme-accent-3,
    "accent-4": $theme-accent-4,
  ),

  "heading": (
    "dark": $theme-dark,
    "light": $common-light,
  ),
  "paragraph": (
    "dark": $paragraph,
    "light": $common-light,
  ),
  "border": (
    "color": $theme-border,
  ),
  "common": (
    "dark": $common-dark,
    "light": $common-light,
  ),
);

//theme-prefix
$theme-prefix: "ts";
$space-count: 50;

/* Responsive Query Setup*/
$xxl: "only screen and (min-width: 1400px) and (max-width: 1660px)";
$xl: "only screen and (min-width: 1200px) and (max-width: 1399.99px)";
$lg: "only screen and (min-width: 992px) and (max-width: 1199.99px)";
$md: "only screen and (min-width: 768px) and (max-width: 991.99px)";
$sm: "only screen and (min-width: 576px) and (max-width: 767.99px)";
$xs: "(max-width: 767.99px)";
