@use "../base/" as *;
/*==================
 1.1 Common Classes
*/

.p {
  &-relative {
    position: relative;
  }
  &-absolute {
    position: absolute;
  }
}
.ts-fix {
  overflow: hidden;
}

.gx {
  &-5 {
    --bs-gutter-x: 5px;
  }
  &-10 {
    --bs-gutter-x: 10px;
  }
  &-15 {
    --bs-gutter-x: 15px;
  }
  &-20 {
    --bs-gutter-x: 20px;
  }
  &-25 {
    --bs-gutter-x: 25px;
  }
  &-30 {
    --bs-gutter-x: 30px;
  }
  &-35 {
    --bs-gutter-x: 35px;
  }
  &-40 {
    --bs-gutter-x: 40px;
  }
  &-45 {
    --bs-gutter-x: 45px;
  }
  &-50 {
    --bs-gutter-x: 50px;
  }
  &-55 {
    --bs-gutter-x: 55px;
  }
  &-60 {
    --bs-gutter-x: 60px;
  }
  &-65 {
    --bs-gutter-x: 65px;
  }
  &-70 {
    --bs-gutter-x: 70px;
  }
  &-75 {
    --bs-gutter-x: 75px;
  }
  &-80 {
    --bs-gutter-x: 80px;
  }
  &-85 {
    --bs-gutter-x: 85px;
  }
  &-90 {
    --bs-gutter-x: 90px;
  }
  &-95 {
    --bs-gutter-x: 95px;
  }
  &-100 {
    --bs-gutter-x: 100px;
  }
  &-105 {
    --bs-gutter-x: 105px;
  }
  &-110 {
    --bs-gutter-x: 110px;
  }
}

.z-index {
  position: relative;
  z-index: 1;

  &-2 {
    position: relative;
    z-index: 2;
  }
  &-3 {
    position: relative;
    z-index: 3;
  }
  &-4 {
    position: relative;
    z-index: 4;
  }
  &-5 {
    position: relative;
    z-index: 5;
  }
  &-6 {
    position: relative;
    z-index: 6;
  }
  &-7 {
    position: relative;
    z-index: 7;
  }
  &-8 {
    position: relative;
    z-index: 8;
  }
  &-9 {
    position: relative;
    z-index: 9;
  }
}

.ts-text {
  &-uppercase {
    text-transform: uppercase;
  }
  &-capitalize {
    text-transform: capitalize;
  }
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
  &-light {
    color: var(--ts-common-light);
  }
  &-dark {
    color: var(--ts-theme-dark);
  }
}

.ts-bg {
  &-primary {
    background-color: var(--ts-theme-primary);
  }
  &-secondary {
    background-color: var(--ts-theme-secondary);
  }
  &-tertiary {
    background: var(--ts-theme-tertiary);
  }
  &-light {
    background: var(--ts-common-light);
  }
  &-dark {
    background: var(--ts-theme-dark);
  }
  &-iceberg {
    background-color: $iceberg;
  }
  &-sandyBeach {
    background: $sandyBeach;
  }
  &-amour {
    background: $amour;
  }
  &-whiteRock {
    background: $whiteRock;
  }
}
.ts-border {
  border: 1px solid var(--ts-paragraph-dark);
}

.ts-br {
  &-5 {
    border-radius: 5px;
  }
  &-10 {
    border-radius: 10px;
  }
  &-15 {
    border-radius: 15px;
  }
  &-20 {
    border-radius: 20px;
  }
  &-25 {
    border-radius: 25px;
  }
  &-30 {
    border-radius: 30px;
  }
}
